@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* { /* RESET */
    vertical-align: baseline;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    font-style: inherit;
    font-size: 16px;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    color: #fff;
}